
<div class="container">
  <h1>Mon musée personnel</h1>
    <div class = "favorites_img">
      <%= @favorites.each {| favorite | favorite.ark.image_url }%>
        <%#= favorite.ark.image_url %>
      <%#= end %>
    </div>
</div>
