*{
  text-decoration: none;
}

.return_button {
  margin-top: 1rem;
  margin-left: 1rem;
  a{
    text-decoration: none;
  }
}

.favorite_cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.favorite_card_category {
  background-size: cover;
  background-position: center;
  height: 20vh;
  width: auto;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 12px;
  font-weight: lighter;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 2.5rem;
  a{
    text-decoration: none;
  }
}

.truncate {
  width: 170px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration-line: none;
}

.icons {
  text-decoration: none;
}

.artist_name {
  font-style: italic;
  text-decoration: none;
}

.favorite_container {
  margin: 5%;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .favorite_cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .favorite_cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .favorite_cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .favorite_cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
