// Specific CSS for your home-page
.container {
  background-color: #f5f5f5;
}

.icons {
  display: flex;
  justify-content: space-evenly;
  color: #e8dfdf;
  text-decoration: none;
  align-items: center;
}

.heart {
  position: relative;
  font-size: 24px;
  text-decoration: none;
  color: #ffc0c0;
  background: #A12568;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  vertical-align: middle;
  padding: 10px;
}
.heart:hover {
  color: #ffc0c0;
}

.dislike {
  position: relative;
  font-size: 27px;
  text-decoration: none;
  color: #A12568;
  background: #ffc0c0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  vertical-align: middle;
  padding: 10px;
}

.fa-heart {
  position: absolute;
  top: 12.5px;
  right: 12.4px;
}

.fa-heart-crack {
  position: absolute;
  top: 12.5px;
  right: 12.4px;
}

.dislike:hover {
  color: #A12568;
}

button, button:focus, button:focus, button:active {
  outline: none !important;
  border: 0 !important;
}

.artist_name {
  font-style: italic;
}
