// Specific CSS for your home-page

.icons {
  font-size: 24px;
  display: flex;
  justify-content: space-evenly;
  color: #e8dfdf;
  text-decoration: none;
  font-size: 35px;
  text-align: right;
  background-color: #F582A7;
  border-radius: 50px;
  top: 16px;
  padding: 3px 3px;
}

.artist_name {
  font-style: italic;
}
