.related_cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 36px;
  text-decoration: none;
}


.related_card_category {
  background-size: cover;
  background-position: center;
  height: 10rem;
  width: 10rem;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 12px;
  font-weight:lighter;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-decoration: none;
  margin-bottom: 1rem;
}

.icons {
  text-decoration: none;
}

.related_container {
  margin-top: 10%;
}
.related_new_container {
  margin : 0 5% 5% 5%
}

.artist_name {
  font-style: italic;
}

.truncate {
  width: 170px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .favorite_cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .favorite_cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .favorite_cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .favorite_cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
