.sign-up-container {
  margin-left: 3rem;
  margin-top: 30vh;
}

.sign-up-container h2 {
  font-family: 'Roboto', sans-serif;
  color: #696969;
  margin-bottom: 1rem
}

.sign-up-container label {
  color: #696969;
}

.btnsignup-submit {
  background-color: #8ADAFF;
  margin-right: 3rem;
  margin-top: 2rem;
  width: 20rem;
  border-radius: 25px;
  text-align: center;
  margin-bottom: 13rem;
  font-size: 18px;
  color: #696969;
}

.btnsignup-submit input {
  color: #696969;
}
