.imgregistration {
  background-image: url(https://media.istockphoto.com/id/1336449533/fr/photo/carte-florale-vintage-belles-fleurs-de-jardin-pivoines.jpg?b=1&s=170667a&w=0&k=20&c=lLVW5wQ9YZVpmNUrArfOIJS93DcYeX2YUhU7dKdCh7I=);
  background-size: cover;
  position: relative;
  min-height: 105vh;
  background-position: -66% 75%;
}

.logo-smart-login {
  width: 20rem;
}

.logo-smart-login img {
  margin-top: 11rem;
  margin-bottom: 4rem;
  margin-left: 4rem;
}


.signup-text {
  background-color: white;
  text-align: left;
  position: fixed;
  bottom: 0;
  border-radius: 10px 10px 0 0;
  padding: 2rem 2rem 4rem 2rem;
  width: 100%;
}

.sign-up-container h2 {
  font-family: 'Roboto', sans-serif;
  color: black;
  margin-bottom: 1rem;
}

.sign-up-container label {
  color: black;
}

.btnsignup-submit {
  background-color: black;
  margin-top: 2rem;
  border-radius: 25px;
  text-align: center;
  font-size: 18px;
  color: white !important;
}

.btnsignup-submit input {
  color: white;
  text-decoration: none;
}
