<div class="homepage container ">
  <div class="return_button">
    <%= link_to :back do%>
      <i class="fa-solid fa-circle-arrow-left fs-4" style="color:black"></i>
    <% end %>
  </div>
  <%= render "arks/content", ark: @alternative_ark  %>
  <%= render 'pages/navbar' %>
</div>
