<div class="showark">
  <div class="return_button">
    <%= link_to :back do%>
      <i class="fa-solid fa-arrow-left"></i>   Retour
    <% end %>
  </div>
  <%= render "content", ark: @ark  %>
</div>
