<h1>Mon profil</h1>

<h3>Image du jour</h3>
<%= link_to "Image du jour", home_path %>
<h3>Preferences</h3>

<h3>Mon portfolio</h3>
<%= link_to "Mon portfolio", favorite_path %>
<h3>Me deconnecter</h3>
