  <div class="try">
      <div class="bansky">
      <div class="jour">
      <h6>SM'ART</h6>
      <h1>L'image du jour</h1>
      </div>
        <img src="https://cdn.britannica.com/72/202072-050-EDA415E9/Girl-with-Balloon-Banksy-Waterloo-Bridge-London.jpg">
     </div>
      <div class="descrip">
       <div class="heart">
        <i class="fas fa-heart"></i>
       </div>
        <h2>La Petite Fille au ballon (Girl with Balloon)</h2>
         <h5>Bansky, 2002</h5>
        <p>
          Une série d'œuvres d'art urbain par Banksy,
          une peinture au pochoir apparue pour la première
          fois en 2002 à Londres sur le pont de Waterloo à
          South Bank. Elle représente une petite fille qui
          tend la main vers un ballon en forme de cœur.
          C'est un graffiti réalisé à l'aide de pochoirs,
          situé sur des escaliers à Londres. Le graffiti
          représente une petite fille dans une robe noire,
          qui tend la main vers un ballon rouge en forme de
          cœur qui s'envole. À la droite de la jeune fille est
          inscrit There is always hope (en français : « Il y a
          toujours de l'espoir »). L'inscription et le ballon sont
          à la même hauteur. L'œuvre est composée de trois couleurs : rouge, noir et blanc.</p>

    <div class="site">
      <p class="para">Plus sur l'artiste : <a href="https://www.banksy.co.uk/"> Site officiel </a> </p>
    </div>
     <div class="icons">
        <i class="fa-solid fa-user"></i>
        <i class="fa-solid fa-share-nodes"></i>
        <i class="fa-regular fa-folder-closed"></i>
    </div>
</div>
